.profile_img{
  width: 150px;
  margin-bottom: 10px;
}
.header{
  background-color: white;
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.App{
  background-color:#F1F2F6;
  text-align: center;
  width: 100%;
}

.card{
  margin-bottom: 10px;
}
.input{
  margin: 0 10px 0 10px;
  width: 100px;
  text-align: center;
}